body
{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    margin: auto;
    margin-top: 60px;
    width: 50%;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.input-container
{
    margin-top: 20px;
}


#input-url{
    width: 95%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#dwn-btn{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}